.expressive-code {
    .frame {
        @apply !shadow-none;
    }

    .title {
        font-family: "Maple Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
}
